.Content {
    width: 620px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: inline-block;
    padding-top: 40px;
    padding-left: 30px;
}

/* Media queries */
@media screen and (max-width: 620px) {

    .Content {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 30px;
        display: inline-block;
        padding-top: 40px;
        padding-left: 30px;
    }

}

@media screen and (max-width: 590px) {

    .Content {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;
        display: inline-block;
        padding-top: 40px;
        padding-left: 30px;
    }

}
